@if (Request.IsAuthenticated)
{
    <div class="navbar-toggle collapsed" aria-expanded="false" data-target="#UserMenu" data-toggle="collapse">
        <img src="content/img/avatar.png" class="user-avatar img-circle" alt="ProfilePicture">
    </div>
    <div class="navbar-toggle collapsed" aria-expanded="false" data-target="#NotificationMenu" data-toggle="collapse">
        <a href="#">
            <span class="badge badge-important">2</span>
            <i class="fa fa-bell" style="color:white;"></i>
        </a>
    </div>
}


