@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Projects
@model ProjectViewModel
<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="project-item">
        @Html.Image(Url.Content(Model.ProjectPhoto), "project-img img-responsive", "Project")
        <div class="project-details">
            <h4 class="project-title">
                @Html.ActionLink(Model.Name, "Show", "Projects", new {id = Model.Id}, null)
            </h4>
        </div>
    </div>
</div>
