<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Trainer
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Trainer Panel", "Index", "Home", new { area = "Trainer" }, null)</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses", new { area = "Trainer" }, null)</li>
        <li>@Html.ActionLink("Project", "Index", "Projects", new { area = "Trainer" }, null)</li>
    </ul>
</li>



