@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Teams
@model DashboardInfoViewModel
    
<div class="row container-fluid">
    <div class="col-md-12">
        <div class="pull-left">
            <h1>@Html.ActionLink(Model.Name,"Dashboard","Teams",new {id = Model.Id},null)</h1>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                @foreach (var user in Model.Members)
                {
                    <li>
                        <a href="@Url.Action("Profile","Users",new { username = user.Username })"><img src="@user.ProfilePhoto" alt="Profile Picture" class="avatar img-circle"></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
