@model int
<a href="@Url.Action("Board",new {id = Model})" class="btn btn-success btn-lg">
    <span class="fa fa-users"></span> Team Bord
</a>

<a href="@Url.Action("Edit",new {id = Model})" class="btn btn-success btn-lg">
    <span class="fa fa-edit"></span> Edit Team
</a>
