@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Teams
@model AllTeamsCoursesViewModel
@{
    ViewBag.Title = "Team - " + Model.Team.Name;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            @Html.Partial("_TeamInfo", Model.Team)

            <div class="clearfix"></div>
            <div class="cbp-l-member-biodata">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Courses</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @foreach (var cours in Model.Courses)
                                {
                                    @Html.Partial("_Course",cours)
                                }
                            </div>
                            <br />
                           @Html.Pages(Model.Pager, Url.Action("Courses", "Teams"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
